@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-bg-primary: #ffffff;
  --color-text-primary: #0e0f11;
  --color-accent-success: #22c55e;
  --color-accent-muted: #f8fafc;
  --border-subtle: #e2e8f0;
  
  --radius-table: 1rem;
}

@layer base {
  body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
  }
}


@layer utilities {
  .container-inline {
    container-type: inline-size;
  }
}
